services:

  postgres-db:
    image: postgres:17.4-alpine3.21
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: jooq-demo
    ports:
      - "5432:5432"
    volumes:
      - ./config/docker/postgresql/01_database_init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data
    networks:
      - demo-net

  pgadmin:
    image: dpage/pgadmin4
    depends_on:
      - postgres-db
    ports:
      - "15433:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: t@t.t
      PGADMIN_DEFAULT_PASSWORD: t
    networks:
      - demo-net
    volumes:
      - pgadmin_data:/var/lib/pgadmin/

  redis-cache:
    image: redis:8.2.2-alpine3.22
    container_name: redis
    ports:
      - "6379:6379"
    command: [
      "redis-server",
      "--requirepass", "redis",
      "--aclfile", "/usr/local/etc/redis/users.acl"
    ]
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli ping | grep PONG" ]
      interval: 1s
      timeout: 3s
      retries: 5
    volumes:
      - redis_data:/data
      - ./config/docker/redis/users.acl:/usr/local/etc/redis/users.acl
    networks:
      - demo-net

  redis-insights:
    image: redis/redisinsight:2.70.1
    container_name: redis-insights
    ports:
      - "5540:5540"
    depends_on:
      redis-cache:
        condition: service_healthy
    volumes:
      - redis_insights_data:/data
    networks:
      - demo-net

  jooq-service:
    image: localhost/java-jooq-spring:1.0.0
    depends_on:
      - postgres-db
      - redis-cache
    ports:
      - "8080:8080"
    environment:
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: root
      PUBLIC_KEY: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAubsJjM65QMcnC2Glkk/IeoGtPn13ZJXlP3o5QodMy8yv9biqWvHgoojS79laJxXLbgJ792fYQ0rOsrrMBkVOQLy6RngTZxZCk8E+eD+Il3X+wNWqBMnkGnfgfSut7onL5HCKzzpv9OsVHymZ+/LPRXDIwiQVwKHKKxY5Y1fouj++JhC7gs335iLUdYnS1//p5R+3XMk+FI066qmkSNR6WGqeTSP1lrKl6fmLqZUPwkgjhrMwArnwlq2zszT7SGd5LaAb8uoXE4eLJUIpYrUy3pH68jjuwfSUrxwb89CaziSJ4Fjjvx91PQ7I2c89RNmcbJHauAO88SjN0d6C1ND+jwIDAQAB
      PRIVATE_KEY: MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC5uwmMzrlAxycLYaWST8h6ga0+fXdkleU/ejlCh0zLzK/1uKpa8eCiiNLv2VonFctuAnv3Z9hDSs6yuswGRU5AvLpGeBNnFkKTwT54P4iXdf7A1aoEyeQad+B9K63uicvkcIrPOm/06xUfKZn78s9FcMjCJBXAocorFjljV+i6P74mELuCzffmItR1idLX/+nlH7dcyT4UjTrqqaRI1HpYap5NI/WWsqXp+YuplQ/CSCOGszACufCWrbOzNPtIZ3ktoBvy6hcTh4slQilitTLekfryOO7B9JSvHBvz0JrOJIngWOO/H3U9DsjZzz1E2Zxskdq4A7zxKM3R3oLU0P6PAgMBAAECggEAAbJVCABAw6K4wesxGVZj58U/e+P8LzhfUREgwhwnoMT3O9tlUvyv/KFwq9g5xpmgXho6X6wx1uDcD9iSUeGthqcysb9vDfCvcwIU5qxN5x72Jh94NMr+ARqPO8AmZUNvpV/nJLV38wN4EezOB0sp3DcyM554xGW19GbOPLtqLila5KgyCQ7I0z0L/4QDdjApXxCJnGhedm0jlCSCLE4abaXjCeZw29r4+D/fDQGLods5GzjRfZt94N5LZcAim5S09IBpnRsNDMsBuyJ9Aonh732sHxThqSOzNbo/Outjk5VnGw1h3sNkQtp6HaWRm390t+6dldBFxX0OUX9LzWvngQKBgQD0voaf3tQHjEqta+dNf6ZkFqvUoaL30fYz0REQkq7eEueDLAqdDIJ7Fop6RgBZadofVzTdDh3rrw/WwsGY3KFrPYuJIoRBqFB7sFfa6LrsOA+oOysP7TLO5lEhRnW0zDvZWrltvjOLrEJWR8Lvq+5NXGxHVpcmI+5/Z5/xl7MJvwKBgQDCRbhHk6lP155SsvdXXIB7TevmUWTnjylFROP816r/lcTzTzgYRUV6+vwyFTbvC/K8cM77QSkRS1HrLIRV/7yz6BVhIaVW6TH9b7CosS+q+w9RQJphrEOeZz5Ps6WpcKusVhdekKGjneGy8fgYr9dCyAWRfJFBqmEo1VBBriIfMQKBgQCbMTlCpNSEWMR9xV9teBU1gF7DPR+Oz5ez8c1FWg4CibA+MC4muej/TiLPOBY+nG2Q1AaUacA1U9PSVbrXSIge7W7OrZF55NXsKLz89fiZk07yWVqMBdfi9I7bb8dxttP4lpvgZ+xdlASYm3aT7cz1Rzbt4Y2ExOIV7cqxMoV4FwKBgFmwNlNVKGVj9gPX+7ipS+ehIbdC/IKq5TLFizu/lYJJcpOhjxQlZt5P4P5+LM5PhdDZg7UbcAo766XW94F8f3HPQ4+EKQDmx91pIvW+V3NoVLn+SUeub8lBgNLq7SA8lAUL+d3+h6Ex0nD6pL9A7vA1x9xS1fyq3BAt6s9nxPkBAoGBALHC0T6oICXbRlLswFizozkXd3em0QylW4/szt4We4lWQJW7ntR0xvVSERw5DUvJjvsKWNfxZd4MlmyRizN+xmgdKO068sA29+8vJPVILPgknQtnwWWxBgNOujsVaHt5aZ922mQurR56eG5Lmx3uyX/Bu6sZxEhAfpudz47zUhKY
    networks:
      - demo-net

networks:
  demo-net:
    driver: bridge

volumes:
  postgres_data: {}
  pgadmin_data: {}
  redis_data: {}
  redis_insights_data: {}

