server:
  port: 8080
  shutdown: GRACEFUL
spring:
  threads:
    virtual:
      enabled: true
  application:
    name: "Demo APP with jOOQ"
  datasource:
    url: jdbc:postgresql://localhost:5432/jooq-demo
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
  data:
    redis:
      repositories:
        enabled: false
      host: localhost
      port: 6379
      username: redis
      password: redis
app:
  jwt:
    public-key: ${PUBLIC_KEY}
    private-key: ${PRIVATE_KEY}
domain:
  url: "http://localhost:8080/"
  root: "http://localhost:8080"
