server:
  port: 8080
  shutdown: GRACEFUL

spring:
  threads:
    virtual:
      enabled: true
  application:
    name: "Demo APP with jooq"
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
  data:
    redis:
      repositories:
        enabled: false
      host: ${REDIS_HOST}
      port: 6379
      username: redis
      password: redis

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0
    export:
      zipkin:
        endpoint: http://localhost:9411/api/v2/spans

logging:
  level:
    root: INFO

app:
  jwt:
    public-key: ${PUBLIC_KEY}
    private-key: ${PRIVATE_KEY}

domain:
  root: http://localhost:8080
