server:
  port: 8080
  shutdown: GRACEFUL
spring:
  threads:
    virtual:
      enabled: true
  application:
    name: "Demo APP with jOOQ"
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
  data:
    redis:
      repositories:
        enabled: false
      host: ${REDIS_HOST}
      port: 6379
      username: redis
      password: redis
app:
  jwt:
    public-key: ${PUBLIC_KEY}
    private-key: ${PRIVATE_KEY}
domain:
  root: http://localhost:8080
