server:
  port: 8080
  shutdown: GRACEFUL
spring:
  application:
    name: "Demo APP with jOOQ"
  datasource:
    url: jdbc:postgresql://postgres:5432/jooq-demo
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
  data:
    redis:
      repositories:
        enabled: false
      host: redis
      port: 6379
      username: redis
      password: redis
app:
  jwt:
    public-key: ${PUBLIC_KEY}
    private-key: ${PRIVATE_KEY}
    expiration-ms: 300000
